<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seus decks</title>
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../css/app/decks.css">
</head>
<body>
    
    <nav class="navbar" style="background-color: #0A0B10;">
      <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="imgs/Flash-logo.png"  style="height: 60px;" alt=""></a>
          <a class="nav-link" href="#"><h4><a href="/decks">Meus decks</a></h4></a>
          
      </div>
    </nav>
           



      
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="p-4">
            <form class="row g-3" action="/criarDeck" method="post">
                <div class="col-auto">
                    <label for="inputPassword6" class="col-form-label">Nome do Deck:</label>
                  </div>
                  <div class="col-auto">
                    <input name="nome" type="password" id="inputPassword6" placeholder="Ex: Biologia 1ยบ periodo" class="form-control" aria-describedby="passwordHelpInline">
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary mb-3">Criar</button>
                </div>
              </form>
        </div>
      </div>

      <nav class="navbar navbar-dark " id="novodeck">
        
        <div class="container-fluid" id="ndeck">
            <h4>Criar novo deck</h4>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
      </nav>

      <% data.forEach(element => { %>


      <div class="decks">
        <div class="d-flex">
            <div class="deck" id="<%= element[2] %>" onclick="redirect(this.id)">
                <div class="deck-text">
                    <div>
                        <h5> <%= element[0] %></h5>
                    </div>
                    <div>
                        <h5>Numero de cards:  <%= element[1] %></h5>
                    </div>
                    
                </div>
                
                <div class="deck-btn">
                    <button type="button" onclick="Del(this.id)" class="btn btn-danger">Deletar</button>
                </div>
                
                <!-- <h5>texto</h5> -->
            </div>
        </div>
        
      </div>

      <% }) %>

    <script src="../js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../js/app/decks.js"></script>
</body>
</html>