<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>decks</h1>
    <a href="/bliblioteca">bliblioteca</a>

    <form action="/criarDeck" method="post">
        <h1>Nome do deck</h1>
        <input type="text" name="nome">

        <button>enviar</button>
    </form>

    <% data.forEach((value) => { %>
        <h3> <%= value %></h3>
    <% }); %>

    
    <script>
        // console.log(window.sessionStorage.getItem('user'))
    </script>
</body>
</html>