<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/dadosLogin" method="post">
        <h1>login</h1>
        
        <input type="email" name="email">
        <input type="password" name="senha">
        <button>enviar</button>
    </form>
</body>
</html>