<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Selecione seus cards </title>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/app/selCard.css">
    <link rel="stylesheet" href="css/app/geral.css">
</head>
<body>

    <nav class="navbar" style="background-color: #0A0B10;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="../imgs/Flash-logo.png"  style="height: 60px;" alt=""></a>
            <a class="nav-link" href="#"><h4><a href="/decks">Meus decks</a></h4></a>
        </div>
    </nav>  
        


    <div class="center">
        <h2>Exclua os cards indesejados, o restante sera adicionado ao deck.</h2>
    </div>
    

    <div class="decks">

      
        <div class="d-flex">
            <div class="deck">
                <div class="deck-text">
                    <div class="tit">
                        <h5>texto</h5>
                    </div>
                    <div class="desc">
                        <h5>texto</h5>
                    </div>
                </div>
                <div class="deck-btn">
                    <button type="button" class="btn btn-danger">Danger</button>
                </div>
            </div>
        </div>
            
      </div>


    <form action="/addCardIa?id=<%- data['id'] %>" method="post">

                <% 
                var index = 0
                data['cards'].forEach(element => {%>
                    index += 1 
                    <div id="<%-`div${index}` %>"></div>
                        <input type="text" name="<%`titulo${index}` %>" value=" <%- element[0] %>" style="width: 500px;height: 200px;">
                        <input type="text" name="<%`desc${index}` %>" value=" <%- element[1] %>" style="width: 500px;height: 200px;">
                        <button type="button" id="<%`${index}` %>" onclick="deletar(this.id)">deletar</button>
                    </div>
                <%})%>;
            <button type="submit">Enviar</button>
    </form>

    <script>
        function deletar(id) {
            let div = document.getElementById(`div${id}`)
            div.parentNode.removeChild(div)
        }
    </script>
    <script src="js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="js/app/decks.js"></script>
</body>
</html>