*{
    color: #0A0B10;
    color: #0E1527 ;
    background-color: #D03149;
    background-color: #FDCA40;
    background-color: #0d285d;
    color: #0A0B10;
    color: #0A0B10;
    color: #0A0B10;
    color: #0A0B10;
    color: #0A0B10;
    color: #0A0B10;
}