/* Configurações gerais */
*{
    margin: 0;
    padding: 0;
}

body,#novodeck{
    background-color:#0E1527 ;
}
::-webkit-scrollbar {
    display: none;
}
h1,h2,h3,h4,h5,h6,h7{
    color: white;
}

a{
    color: white;
    text-decoration: none;
    font-size:larger;
}

/* Nav Bar */

.nav-link{
    margin: 0 2% 0 2%;
    color: white;
}
.d-flex{
    text-align: center;
    align-items: center;
}
.d-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
}

.navbar-brand{
    color:#C8FCEA ;
}



/* explicação flashcards */
.exp-cards{
    margin-top: 7%;
    margin-bottom: 7%;
    width: 100%;
    background-color:  #0D0B10;
    height: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.exp-cards div {
    width: 30%;
}
.row{
    justify-content: center;
    align-items: center;
}
#card-ini{
    height: 80%;
    width: 60%;
    border-radius: 10px;
    justify-content: center;
    flex-direction: row;
    background-color: #DF2935;
    transition: all 0.5s;
}
#card-ini:hover{
    filter: drop-shadow(15px 10px 5px #E6E8E6);
}
#card-ini h1{
    text-align: center;
    height: 40%;
}
.collum{
    justify-content: center;
    display: flex;
    align-items: center;
}
.collum div{
    width: 100%;
    height: 80%;
}
.collum div h5{
    margin: 10px;
    color: white;
    height: 40%;
}
.row div{
    width: 100%;
    height: 80%;

}

/* div img */
.div-img{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    width: 100%;
    justify-content: center;
}

.div-img div {
    border-radius: 20px;
    
    background-color: #0D0B10;
    display: flex;
    margin: 20px;
    width: 70%;
    transition: 0.5s;
    border: 2px solid   #0D0B10 ;
}
.div-img div:hover{
    border: 2px solid #E6E8E6;
    scale: 1.03;
}
.div-img img{
    border-radius: 10px;
    border: 0px;
    /* width: 70%; */
}


/* tab-img */

.center-dicas{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px;
}

#dicas{
    width: 70%;
    display: flex;
    padding: 20px;
    background-color: #0D0B10;
    border-radius: 10px;
    border: 2px solid #0D0B10;
    transition: 500ms;
}

#dicas h6{
    font-size: 18px;
}
#dicas:hover{
    scale: 1.01;
    border: 2px solid #E6E8E6;
}
#v-pills-tab{
    display: flex;
    margin: 20px;
}
.div-dicas{
    margin: 20px;
    display: flex;
    justify-content: center;
    width: 90%;
    border-radius: 20px;
    margin: 20px;
    border: 2px solid #0D0B10;
    transition: 500ms;
}
.div-dicas:hover{
    border: 2px solid white;
    scale: 1.1;
}
.div-dicas img {
    height: 400px;
    margin-left: 30px;
    width: 350px;
    border-radius: 16px;
}
.dicas-div-text{
    margin: 20px;
}
#Prompt{
    background-color: #0d285d;
}
#Complexidade{
    background-color: #FDCA40; 
}
#Complexidade h6{
    color: black;
}
#Facilidade{
        background-color: #D03149;
}

h6{
    color: white;
}

/* form */
.div-ai{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
h1{
    margin: 10px;
}
.form{
    width: 100%;
    background-color: #0D0B10;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
}
.input {
    
    display: block;
    width: 100%;
    flex-direction: row;
}

#input-tema{
    border: none;
    padding-left: 20px;
}

.div-inter-input{
    display: flex;
    padding: 10px;
    margin: 30px;
    margin-top: 60px;
    justify-content: center;
}
.div-inter-input label {
    margin-right: 30px;
}
.div-inter-input input{
    width: 20%;
    border-radius: 10px;
}

.div-input{
    width: 100%;
    display: flex;
    justify-content: space-around;
}



#input{
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#card{
    padding:60px 0 20px 0 ;
    display: flex;
    justify-content: space-around;
    width: 100%;

}
.card{
    display: flex;
    align-items: center;
    border: 3px solid #0D0B10;;
    height: 300px;
    width: 250px;
}
.card:hover{
    
    border: 3px solid white;
    cursor: pointer;
}
#resumo{
    background-color: #0d285d;
}
#simples{
    background-color:#f0ce79 ;
}
#complexo{
    background-color: #a92372;
}