<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudar</title>
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../css/app/estudar.css">
    
</head>
<body>
    
    <nav class="navbar navbar-expand-lg " id="barra">
        <div class="container-fluid" >
          <a class="navbar-brand" href="#"><h3>Cards</h3></a>
          
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="#"><h4>texto</h4></a>
              
              
            </div>
          </div>
          <div class="d-flex">
            <a class="nav-link" href="#"><h4>ola, junin</h4></a>
            <a class="nav-link" href="#"><h4>texto</h4></a>
          </div>
          
        </div>
    </nav>


    <div class="text-center" >
        <h4>Leia o titulo e tente se lembrar da descrição, depois clique em 'ver resposta' e refresque sua memoria.</h4>
    </div>
   
    <html lang="pt-br">



    <div class="carousel">
      <% data['data'].forEach(element => { %>
          <div class="carousel-item active">
              <h5 id="titulo<%= element[2] %>" class="titulo"><%= element[0] %></h5>
              <h5 id="desc<%= element[2] %>" class="desc"><%= element[1] %></h5>
              <button name="show" id="<%= element[2] %>" class="showBtn">Ver resposta</button>
          </div>
      <% }); %>
  </div>
  <div>
      <button  id="prevBtn">Anterior</button>
      <button  id="nextBtn">Próximo</button>
  </div>
  

    <script src="../js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../js/app/estudar.js"></script>
</body>
</html>
