<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Site</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    

    <div class="navbar">
        <a href="#home"><img src="logo.png" alt="Logo" style="height:30px;"></a>
        <a href="#decks">Decks</a>
        <a href="#biblioteca">Biblioteca</a>
        <button onclick="login()">Login</button>
    </div>

    <div class="intro">
        <h1>Bem-vindo ao Meu Site</h1>
        <p>Este é um texto de introdução ao meu site. Aqui você encontrará informações sobre decks e nossa biblioteca.</p>
        <button><a href="/login">login</a></button>
    </div>

    
</body>
</html>
